@page "/ListaReservaciones"
@using Microsoft.AspNetCore.Components.QuickGrid

@inject ReservacionesServices ReservacionesService
@inject TaxistaServices taxistaServices
@rendermode InteractiveServer
@inject ToastService Toast
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
<link rel="stylesheet" href="/Estilos/Reservaciones/ListReservaciones.css" />

<div class="container">
    <div class="overlay">
        <div class="detalles-container">
            <div class="card-header">
                <h1 style="color: #ffaf7a">Lista de reservaciones</h1>
            </div>
            <div class="card-body">
                @*labels*@
                <div class="row">

                    @*Filtrar por*@
                    <div class="col-3">
                        <label class="col-form-label" style="color: #00b7c5"><strong>Filtrar por</strong></label>
                    </div>

                    @*ValorFiltro*@
                    <div class="col-4">
                        <label class="col-form-label" style="color: #00b7c5"><strong>B&uacute;squeda</strong></label>
                    </div>
                </div>

                @*Inputs y botones*@
                <div class="row align-items-center">
                    @*filtro*@
                    <div class="col-3">
                        <InputSelect class="form-select" @bind-Value="Filtro" style="border: 2px solid #00b7c5">
                            <option value="" selected disabled>Elija una opci&oacute;n</option>
                            <option value="Destino">Destino</option>
                            <option value="ID Reservacion">ID Reservacion</option>
                            <option value="Estado">Estado</option>
                            <option value="Fecha">Fecha</option>

                        </InputSelect>
                    </div>

                    @*Busqueda*@
                    <div class="col-4">
                        <div class="input-group">
                            <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" style="border: 2px solid #00b7c5" />
                            <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                        </div>
                    </div>

                    @*Restablecer*@
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-secondary bi bi-arrow-clockwise" @onclick="Restablecer"></button>
                    </div>
                    <div class="row mt-3">

                        @if (Filtro == "Fecha")
                        {
                            @*Desde*@
                            <div class="col-3">
                                <label class="col-form-label" style="color: #00b7c5"><strong>Desde</strong></label>
                                <InputDate class="form-control" @bind-Value="Desde" style="border: 2px solid #00b7c5"></InputDate>
                            </div>

                            @*Hasta*@
                            <div class="col-3">
                                <label class="col-form-label" style="color: #00b7c5"><strong>Hasta</strong></label>
                                <div class="input-group">
                                    <InputDate class="form-control" @bind-Value="Hasta" style="border: 2px solid #00b7c5"></InputDate>
                                </div>
                            </div>
                        }
                    </div>
                    <div>
                        <QuickGrid Items="@(Reservaciones.AsQueryable())" DefaultSort="@sortByFecha" class="table table-striped table-hover">
                            <div class="flex items-center">
                                <PropertyColumn Title="ID Reservación" Property="@(r => r.ReservacionId)" />
                                <PropertyColumn Title="Fecha" Property="@(r => r.Fecha)" Format="dd/MM/yyyy" />
                                <PropertyColumn Title="Monto" Property="@(r => r.Monto)" />
                                <PropertyColumn Title="Pasajesros" Property="@(r => r.CantidadPasajeros)" />
                                <PropertyColumn Title="Destino" Property="@(r => r.ViajeDto)" />
                                <PropertyColumn Title="Estado" Property="@(r => r.EstadosReservacionesDto)" />

                            </div>

                            <TemplateColumn Title="Acciones">
                                <div class="flex items-center">
                                    <button class="btn btn-success btn-sm me-1 bi bi-clipboard2-check" title="Aceptar"
                                            @onclick="@(() => CambiarEstado(context, 2))">
                                        
                                    </button>
                                    <button class="btn btn-danger btn-sm bi bi-clipboard2-x" title="Cancelar"
                                            @onclick="@(() => CambiarEstado(context, 3))">
                                        
                                    </button>
                                    <button class="btn btn-danger btn-sm bi bi-trash" title="Eliminar"
                                            @onclick="@(() => AbrirModal(context))">
                                    </button>
                                </div>
                            </TemplateColumn>
                        </QuickGrid>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/" class="btn btn-light bi bi-arrow-left-square "> Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade @(MostrarModal ? "show d-block" : "d-none")" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmacion de eliminar</h5>
                <button type="button" class="btn-close" @onclick="CerrarModal"></button>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro de eliminar la recervacion <strong>@ReservacionSeleccionado.ReservacionId</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="CerrarModal">Cancelar</button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@code {
    private List<ReservacionesDto> Reservaciones { get; set; } = new();
    private TaxistaDto Taxista { get; set; } = new TaxistaDto();
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;
    public DateTime? Desde { get; set; }
    public DateTime? Hasta { get; set; }
    public bool MostrarModal { get; set; } = false;
    public ReservacionesDto ReservacionSeleccionado { get; set; } = new ReservacionesDto();
    // Configuración de ordenamiento por defecto (por fecha de la reservación)
    GridSort<ReservacionesDto> sortByFecha = GridSort<ReservacionesDto>
        .ByAscending(r => r.Fecha);

    protected override async Task OnInitializedAsync()
    {
        await CargarReservaciones();
    }

    private async Task CargarReservaciones()
    {
        Reservaciones = await ReservacionesService.Listar(r => true); // Cargar todas las reservaciones
    }

    private async Task CambiarEstado(ReservacionesDto reservacion, int nuevoEstado)
    {
        reservacion.EstadoId = nuevoEstado;
        if(nuevoEstado == 2)
        {
            Taxista.EstadoTId = 2;
            var guardarT = await taxistaServices.Guardar(Taxista);
        }else if(nuevoEstado == 3)
        {
            Taxista.EstadoTId = 1;
            var guardarT = await taxistaServices.Guardar(Taxista);
        }
        if (reservacion.EstadoId == 3)
        {
            await ReservacionesService.AfectarCantidad(reservacion.ReservacionDetalles.ToArray(), false);
        }
        var guardado = await ReservacionesService.Guardar(reservacion);
        if (guardado)
        {
            Toast.Notify(new(ToastType.Success, $"Cambio de estado a la Reservación {reservacion.ReservacionId} exitoso."));
            await Task.Delay(3000);
            await CargarReservaciones(); // Refresca la lista
        }
        else
        {
            Toast.Notify(new(ToastType.Danger, $"Error al actualizar el estado."));
        }
    }

    private async Task Buscar()
    {
        if (ValorFiltro.Trim() != "")
        {
            if (Filtro == "Destino")
            {
                Reservaciones = await ReservacionesService.Listar(e => e.ViajeDto.ToLower().Contains(ValorFiltro.ToLower()));
            }
            else if (Filtro == "Estado")
            {
                Reservaciones = await ReservacionesService.Listar(e => e.EstadosReservacionesDto.ToLower().Contains(ValorFiltro.ToLower()));
            }
            else if (Filtro == "ID Reservacion" && int.TryParse(ValorFiltro, out int reservacionId))
            {
                Reservaciones = await ReservacionesService.Listar(e => e.ReservacionId == reservacionId);
            }
        }
        else if (Filtro == "Fecha")
        {
            Reservaciones = await ReservacionesService
            .Listar(f => f.Fecha >= Desde && f.Fecha <= Hasta);
        }
        else
        {
            Reservaciones = await ReservacionesService.Listar(e => e.ReservacionId > 0);
        }

    }

    private async Task Restablecer()
    {
        Reservaciones = await ReservacionesService.Listar(e => e.ReservacionId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }

    private void AbrirModal(ReservacionesDto reservacion)
    {
        ReservacionSeleccionado = reservacion;
        MostrarModal = true;
    }
    private void CerrarModal()
    {
        MostrarModal = false;
        ReservacionSeleccionado = new ReservacionesDto();
    }
    private async Task Eliminar()
    {
        if (ReservacionSeleccionado.EstadoId == 3)
        {
            var eliminado = await ReservacionesService.Eliminar(ReservacionSeleccionado.ReservacionId);
            if (eliminado)
            {
                Toast.Notify(new(ToastType.Success, $"Reservación {ReservacionSeleccionado.ReservacionId} eliminada con éxito."));
                await Task.Delay(3000);
                await CargarReservaciones();
            }
            else
            {
                Toast.Notify(new(ToastType.Danger, $"Error al eliminar la reservación."));
                await Task.Delay(3000);
                CerrarModal();
            }
            CerrarModal();
        }
        else
        {
            Toast.Notify(new(ToastType.Warning, $"La recervacion no ha sido cancelada, no puede ser eliminada."));
        }
    }
}

