@page "/Taxistas/Listado"
@using BlazorBootstrap
@using Blazored.Toast.Services
@using Microsoft.AspNetCore.Authorization
<link rel="stylesheet" href="/Estilos/Reservaciones/ListReservaciones.css" />

@attribute [Authorize(Roles = "Admin")]
@* @inject ToastService Toast*@
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject TaxistaServices TaxistaService
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
<div class="container">
    <div class="overlay">
        <div class="detalles-container">
            <div class="card-header">
                <h1 class="card-title" style="color: #ffaf7a">Consulta de Taxistas</h1>
            </div>
            <div class="card-body">
                @*labels*@
                <div class="row">
                    @*Filtrar por*@
                    <div class="col-3">
                        <label class="col-form-label" style="color: #00b7c5"><strong>Filtrar por</strong></label>
                    </div>

                    @*ValorFiltro*@
                    <div class="col-4">
                        <label class="col-form-label" style="color: #00b7c5"><strong>B&uacute;squeda</strong></label>
                    </div>
                </div>

                @*Inputs y botones*@
                <div class="row align-items-center">
                    @*filtro*@
                    <div class="col-3">
                        <InputSelect class="form-select" @bind-Value="Filtro" style="border: 2px solid #00b7c5">
                            <option value="" selected disabled>Elija una opci&oacute;n</option>
                            <option value="Nombre">Nombre</option>
                            <option value="ID">ID</option>
                        </InputSelect>
                    </div>

                    @*Busqueda*@
                    <div class="col-4">
                        <div class="input-group">
                            <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" style="border: 2px solid #00b7c5" />
                            <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                        </div>
                    </div>

                    @*Restablecer*@
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-secondary bi bi-arrow-clockwise" @onclick="Restablecer"></button>
                    </div>
                    @*Crear*@
                    <div class="col-auto">
                        <a href="/Create/Articulos" class="btn btn-outline-primary" style="background-color: #ffaf7a; color: white; border: none"> Crear </a>
                    </div>

                    <div>
                        <QuickGrid Items="@(TaxistaDto.AsQueryable())" DefaultSort="@sortByFecha" class="table table-striped table-hover text-start">
                            <div class="flex items-center">
                                <PropertyColumn Title="Id" Property="@(r => r.TaxistaId.ToString().Length > 10 ? r.TaxistaId.ToString().Substring(0, 10) : r.TaxistaId.ToString())" />
                                <PropertyColumn Title="Nombre" Property="@(r => r.NickName)" />
                                <PropertyColumn Title="Ciudad" Property="@(r => r.NombreCiudad)"/>
                                <PropertyColumn Title="Estado" Property="@(r => r.EstadoNombre)" />

                            </div>

                            <TemplateColumn Title="Acciones">
                                <div class="flex items-center">
                                    <button class="btn btn-primary btn-sm bi bi-pencil-square" title="Editar"
                                            @onclick="@(() => Edit(context))">
                                    </button>
                                    <button class="btn btn-danger btn-sm bi bi-trash" title="Eliminar"
                                            @onclick="@(() => AbrirModal(context))">
                                    </button>
                                </div>
                            </TemplateColumn>
                        </QuickGrid>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/" class="btn btn-light bi bi-arrow-left-square "> Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade @(MostrarModal ? "show d-block" : "d-none")" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmacion de eliminar</h5>
                <button type="button" class="btn-close" @onclick="CerrarModal"></button>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro de despedir al taxista <strong>@TaxistaDtoSeleccionado.NickName</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="CerrarModal">Cancelar</button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@code {
    private List<TaxistaDto> TaxistaDto { get; set; } = new();

    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;
    public DateTime? Desde { get; set; }
    public DateTime? Hasta { get; set; }
    public bool MostrarModal { get; set; } = false;
    public TaxistaDto TaxistaDtoSeleccionado { get; set; } = new();
    // Configuración de ordenamiento por defecto (por fecha de la reservación)
    GridSort<ArticulosDto> sortByFecha = GridSort<ArticulosDto>
        .ByAscending(r => r.Existencia);

    protected override async Task OnInitializedAsync()
    {
        await CargarReservaciones();
    }

    private async Task CargarReservaciones()
    {
        TaxistaDto = await TaxistaService.Listar(r => true); // Cargar todas las reservaciones
    }

    private async Task Buscar()
    {
        if (ValorFiltro.Trim() != "")
        {
            if (Filtro == "Nombre")
            {
                TaxistaDto = await TaxistaService.Listar(e => e.NickName.ToLower().Contains(ValorFiltro.ToLower()));
            }
            else if (Filtro == "ID")
            {
                TaxistaDto = await TaxistaService.Listar(e => e.TaxistaId.Contains(ValorFiltro.ToLower()));
            }
        }
        else
        {
            TaxistaDto = await TaxistaService.Listar(e => e.TaxistaId != null);
        }

    }

    private void Edit(TaxistaDto taxistaDto)
    {
        navigationManager.NavigateTo($"/Create/Articulos/{taxistaDto.TaxistaId}");
    }

    private async Task Restablecer()
    {
        TaxistaDto = await TaxistaService.Listar(e => e.TaxistaId != null );
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }

    private void AbrirModal(TaxistaDto taxistaDto)
    {
        TaxistaDtoSeleccionado = taxistaDto;
        MostrarModal = true;
    }
    private void CerrarModal()
    {
        MostrarModal = false;
        TaxistaDtoSeleccionado = new();
    }
    private async Task Eliminar()
    {
        if (TaxistaDtoSeleccionado != null)
        {
            if (await TaxistaService.ViajePendiente(TaxistaDtoSeleccionado.TaxistaId))
            {
                //Agregar notificacion de que si tiene un viaje pendiente no se puede eliminar
                return;
            }
            // Lógica para despedir al taxista
            await TaxistaService.Eliminar(TaxistaDtoSeleccionado.TaxistaId);
            TaxistaDto = await TaxistaService.Listar(t => true); // Actualizar la lista
        }
        CerrarModal();
    }
}
