@page "/Account/LogIn"
@rendermode InteractiveServer
@inject NavigationManager Navigation
<link rel="stylesheet" href="/EstiloCSS/Login/LogIn.css" />


<PageTitle>Crear Usuario</PageTitle>

<EditForm Model="ClienteDto" OnSubmit="CrearUsuario">
    <div class="container shadow-lg">
        <div class="image-section">
            <img src="/Imagenes/LogoAR.png" width="500" />
        </div>
        <div class="form-section">
            <div class="form-group">
                <label class="form-label">Nickname</label>
                <InputText class="form-control" @bind-Value="ClienteDto.NickName" placeholder="Nickname"></InputText>
                <ValidationMessage For="@(() => ClienteDto.NickName)" />
            </div>

            <div class="form-group">
                <label class="form-label">Correo</label>
                <InputText class="form-control" @bind-Value="ClienteDto.Correo" placeholder="Correo"></InputText>
                <ValidationMessage For="@(() => ClienteDto.Correo)" />
            </div>

            <div class="form-group">
                <label class="form-label">Fecha de Nacimiento</label>
                <InputDate class="form-control" @bind-Value="ClienteDto.FechaNacimiento"></InputDate>
                <ValidationMessage For="@(() => ClienteDto.FechaNacimiento)" />
            </div>

            <div class="form-group">
                <label class="form-label">Provincia</label>
                <InputSelect class="form-select" @bind-Value="ClienteDto.Provincia">
                    <option select disabled value="0">--- Seleccione una provincia ---</option>
                    @foreach (var provincia in Enum.GetValues(typeof(Provincias)))
                    {
                        <option value="@provincia">@provincia</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => ClienteDto.Provincia)" />
            </div>

            <div class="form-group">
                <label class="form-label">Contraseña</label>
                <InputText type="password" class="form-control" @bind-Value="ClienteDto.Password" placeholder="Contraseña"></InputText>
                <ValidationMessage For="@(() => ClienteDto.Password)" />
            </div>

            <button type="submit" class="btn">
                Crear Cuenta
            </button>
            <button type="button" @onclick="Cancelar" class="btn">
                Cancelar
            </button>
        </div>
    </div>
</EditForm>



@code {
    public ClientesDto ClienteDto { get; set; } = new ClientesDto();

    private async Task CrearUsuario()
    {
        
    }
    private void Cancelar()
    {
        Navigation.NavigateTo("/");
    }
}
